$black-10: 	darken(#fff, 10%);
$black-20: 	darken(#fff, 20%);
$black-30: 	darken(#fff, 30%);
$black-40: 	darken(#fff, 40%);
$black-50: 	darken(#fff, 50%);
$black-60: 	darken(#fff, 60%);
$black-70: 	darken(#fff, 70%);
$black-80: 	darken(#fff, 80%);
$black-90: 	darken(#fff, 90%);

$green: 		#a0f0dc;
$red:			#ff5a50;
$main_nav:		#4a4b5c;
$almost_white:  #fafafa;
$grey:			#dcdcdc;
$purple:		#8282a0;
$gMorado:		#5a5a6e;
$yellow:		#edf04f;